In [1]:
import pandas as pd
from glob import glob

In [2]:
data_dict = pd.read_csv('../data/raw_pems/meta_dict.csv', names=['Feature', 'Description']).iloc[1:].reset_index(drop=True)
data_dict

              Feature                                        Description
0                  ID   An integer value that uniquely indenties the ...
1             Freeway                                    Freeway Number.
2   Freeway Direction         A string indicating the freeway direction.
3   County Identifier   The unique number that identifies the county ...
4                City                                             City.
5      State Postmile                                   State Postmile.
6   Absolute Postmile                                Absolute Postmile.
7            Latitude                                          Latitude.
8           Longitude                                         Longitude.
9              Length                                             Length
10               Type                                             Type.
11              Lanes                            Total number of lanes.
12               Name                                             Name.
13      User IDs[1-4]                    User-entered string identifier.

In [3]:
meta_txt_files = glob('../data/raw_pems/*.txt')
meta_txt_files

['./data/pems/d07_text_meta_2020_11_16.txt',
 './data/pems/d07_text_meta_2021_10_20.txt',
 './data/pems/d07_text_meta_2021_03_27.txt']

In [6]:
meta = pd.read_csv(meta_txt_files[0], delimiter='\t')
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         4888 non-null   int64
 1   Fwy        4888 non-null   int64
 2   Dir        4888 non-null   object
 3   District   4888 non-null   int64
 4   County     4888 non-null   int64
 5   City       4377 non-null   float64
 6   State_PM   4888 non-null   object
 7   Abs_PM     4888 non-null   float64
 8   Latitude   4883 non-null   float64
 9   Longitude  4883 non-null   float64
 10  Length     2775 non-null   float64
 11  Type       4888 non-null   object
 12  Lanes      4888 non-null   int64
 13  Name       4888 non-null   object
 14  User_ID_1  4888 non-null   int64
 15  User_ID_2  0 non-null      float64
 16  User_ID_3  0 non-null      float64
 17  User_ID_4  0 non-null      float64
dtypes: float64(8), int64(6), object(4)
memory usage: 687.5+ KB

In [7]:
meta.head()

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,715898,5,S,7,37,40032.0,.71,117.280,33.880183,-118.021787,0.43,ML,3,PHOEBE,2029,NaN,NaN,NaN
1,715900,5,S,7,37,40032.0,1.06,117.630,33.882892,-118.026822,NaN,OR,1,VALLEY VIEW,3255,NaN,NaN,NaN
2,715901,5,N,7,37,40032.0,1.11,117.743,33.883400,-118.027451,NaN,OR,1,VALLEY VIEW,3268,NaN,NaN,NaN
3,715903,5,N,7,37,69154.0,1.56,118.193,33.886992,-118.034125,NaN,OR,1,ALONDRA,3269,NaN,NaN,NaN
4,715904,5,S,7,37,69154.0,2.27,118.840,33.892489,-118.044573,NaN,OR,1,CARMENITA,3253,NaN,NaN,NaN

In [5]:
meta = meta.drop(columns=['User_ID_2', 'User_ID_3', 'User_ID_4'])
meta = meta[(~meta['Longitude'].isna()) & (~meta['Latitude'].isna())].reset_index(drop=True)

In [6]:
import pickle

In [7]:
with open('../data/loaded/meta.dat', 'wb') as f:
    pickle.dump(meta[['ID', 'Fwy', 'Dir', 'Latitude', 'Longitude', 'Length', 'Type', 'Lanes', 'Abs_PM']], f)